{% extends "wheelcms_axle/configuration.html" %}
{% load granules %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}

{% block config_form %}

<div class="row">
<div class="col-md-12">
<accordion>
  <accordion-group>
    <accordion-heading>Types</accordion-heading>

    <table class="table table-condensed table-responsive table-bordered">
    {% for spoke in spokes %}
    <tr><td colspan="2">
        <h4><img class="spoke_icon" src="{{spoke.icon}}">{{spoke.title}}</h4>
    </td></tr>
    <tr>
      <td>
        <b>Workflow</b>
      </td>
      <td>
        {{spoke.workflow}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Children</b>
      </td>
      <td>
        {{spoke.children}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Explicit Children</b>
      </td>
      <td>
        {{spoke.explicit_children}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Primary</b>
      </td>
      <td>
        {{spoke.primary}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Implicitly addable</b>
      </td>
      <td>
        {{spoke.implicit_add}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Indexable</b>
      </td>
      <td>
        {{spoke.add_to_index}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Discussable</b>
      </td>
      <td>
        {{spoke.discussable}}
      </td>
    </tr>
    {% endfor %}
    </table>
  </accordion-group>
  <accordion-group>
    <accordion-heading>Workflows</accordion-heading>
  </accordion-group>
</accordion>
</div></div>
{% endblock %}

